sabre_docs/DisplayInventoryRecordLLS2.0.0RQ/DisplayInventoryRecordLLS2.0.0RQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified">
    <xs:include schemaLocation="sws_common.xsd"/>
    <xs:element name="DisplayInventoryRecordRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OriginDestinationInformation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FlightSegment">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="DestinationLocation" minOccurs="0">
                                            <xs:complexType>
                                                <xs:attribute name="LocationCode" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="OriginLocation" minOccurs="0">
                                            <xs:complexType>
                                                <xs:attribute name="LocationCode" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="DepartureDateTime" type="sws:dateOrTime" use="required"/>
                                    <xs:attribute name="FlightNumber" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional"/>
            <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional"/>
            <xs:attribute name="Version" type="xs:string" fixed="2.4.0" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>