sabre_docs/OTA_AirFlifoLLS2.1.1RQ/OTA_AirFlifoLLS2.1.1RS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:stl="http://services.sabre.com/STL/v01" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified">
	<xs:import namespace="http://services.sabre.com/STL/v01" schemaLocation="STL_For_SabreProtocol_v.1.2.0.xsd"/>
	<xs:include schemaLocation="sws_common.xsd"/>
	<xs:element name="OTA_AirFlifoRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stl:ApplicationResults"/>
				<xs:element name="FlightInfo" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ActualInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FlightLeg" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ArrivalDateTime" minOccurs="0">
                                                        <xs:complexType>
															<xs:attribute name="Actual" type="sws:dateTime" use="optional"/>
															<xs:attribute name="Estimated" type="sws:dateTime" use="optional"/>
															<xs:attribute name="OnGate" type="sws:dateTime" use="optional"/>
															<xs:attribute name="OnRunway" type="sws:dateTime" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="DepartureDateTime" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Actual" type="sws:dateTime" use="optional"/>
															<xs:attribute name="Estimated" type="sws:dateTime" use="optional"/>
															<xs:attribute name="OffGate" type="sws:dateTime" use="optional"/>
															<xs:attribute name="OffRunway" type="sws:dateTime" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
													<xs:element name="TimeOfCreation" minOccurs="0" maxOccurs="1" type="sws:time"/>
												</xs:sequence>
												<xs:attribute name="EntryIdentifier" type="xs:string" use="optional"/>
												<xs:attribute name="LocationCode" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ScheduledInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FlightLeg" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ArrivalDateTime" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="BaggageClaim" type="xs:string" use="optional"/>
															<xs:attribute name="Gate" type="xs:string" use="optional"/>
															<xs:attribute name="Scheduled" type="sws:dateTime" use="optional"/>
															<xs:attribute name="Terminal" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="DepartureDateTime" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="Gate" type="xs:string" use="optional"/>
															<xs:attribute name="Scheduled" type="sws:dateTime" use="optional"/>
															<xs:attribute name="Terminal" type="xs:string" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Text" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
												</xs:sequence>
												<xs:attribute name="LocationCode" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="AirlineCode" type="xs:string" use="optional"/>
						<xs:attribute name="DepartureDateTime" type="sws:date" use="optional"/>
						<xs:attribute name="FlightNumber" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>