sabre_docs/InventoryControlFlightDisplayRQ_V4.18.0/InventoryControlFlightDisplayRQ_V4.18.0/SOTA-MessagingComponents_V1.0.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://services.sabre.com/ns/SOTA/Messaging/v1" xmlns:shdr="http://services.sabre.com/ns/SOTA/Messaging/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services.sabre.com/ns/SOTA/Messaging/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="07">
   <xsd:annotation>
      <xsd:documentation>Generated by Contivo Builder on March 4, 2009 at 8:39:16 AM CST</xsd:documentation>
      <xsd:documentation>from the STL-MessagingComponents_V1.0.7 package with namespace http://services.sabre.com/ns/SOTA/Messaging/v1</xsd:documentation>
   </xsd:annotation>
   <xsd:annotation>
      <xsd:documentation>11/20/2008 dmh - version 0.3 - Error messages will be free text created by the application or system that detected the error.

 1) made the list of error messages and errorMessageUserDefined obsolete.

 2) created new errorMessage type with free text and code (int) and applied to error message element of Result Record.

 3) removed union on Application Error and Transport Error. These values must be from the enumerated list only.

 4) removed TransportErrorCodes.v1



TODO - remove types with .OBSOLETE postfix names.</xsd:documentation>
      <xsd:documentation>12/2/2008 dmh - Added Success element and ResultCG choice group for either Success, Application or Transport Error.</xsd:documentation>
      <xsd:documentation>12/8/08 dmh v1.0.5 - assured success could be an empty element.</xsd:documentation>
      <xsd:documentation>12/16/2008 dmh - changed  the size of the error message to allow more flexiblility.</xsd:documentation>
      <xsd:documentation>TODO - make error codes required and clarify their usage.



</xsd:documentation>
      <xsd:documentation>1/12/2009 - dmh - version 0.7 - changed directory and file names to STL from SOTA</xsd:documentation>
   </xsd:annotation>
   <xsd:complexType name="ErrorMessage">
      <xsd:annotation>
         <xsd:documentation>Free text and code provided by the application or system that detected the error. Contants may be anything the system detecting the error chooses to convey. Used by service consumers.  Codes and/or messages should be agreed upon by service users. Do not use for structured data, use parameters instead.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="StringLength0to4096">
            <xsd:attribute name="Code" type="xsd:integer"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Header.RQ">
      <xsd:annotation>
         <xsd:documentation>Sabre Standard Payload Header. Information in the header is intended to separate transport and processing information from actual message data. Header information may be replicated in the messaging system header (SOAP or JMS header). This data is inteded for use with content-based routing and other tasks asscociated with integration.  NOTE: messaging and transport systems may and should add content to the header whereas they should never change the actual message subject contents.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Action" type="StringLength0to128" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Details, qualifiers and parameters to the message action verb. </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Subject" type="StringLength0to128" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Details, qualifiers and parameters to the message subject noun. Typically will be used to request level of detail desired in the response or parameters not caputred by the query form of the noun.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Messaging" type="MessagingRecords" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Messaging section provides an area for each system interacting with the message to record a brief message about thier interactions. Service proxies and utility services such as transformation and validation should use this area to record when they processed the message and the resulting status.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Parameters" type="Parameters" minOccurs="0" maxOccurs="100">
            <xsd:annotation>
               <xsd:documentation>Generalized name-value pairs. These parameters are intended for integration specific use only duriing development and testing. These parameters must not be relied upon for production operation.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Security" type="StringLength0to1023" minOccurs="0" maxOccurs="0">
            <xsd:annotation>
               <xsd:documentation>TODO - include ICE header.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Header.RS">
      <xsd:annotation>
         <xsd:documentation>Sabre Standard Payload Header. Information in the header is intended to separate transport and processing information from actual message data. Header information may be replicated in the messaging system header (SOAP or JMS header). This data is inteded for use with content-based routing and other tasks asscociated with integration.  NOTE: messaging and transport systems may and should add content to the header whereas they should never change the actual message subject contents.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Results" type="ResultRecord">
            <xsd:annotation>
               <xsd:documentation>Response message header Results are used to exchange information about the nature of a failure or success. This record must be provided in successful service invocations.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Messaging" type="MessagingRecords" minOccurs="0"/>
         <xsd:element name="Security" type="StringLength0to1023" minOccurs="0" maxOccurs="0">
            <xsd:annotation>
               <xsd:documentation>TODO - include ICE header.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Parameters" type="Parameters" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Generalized name-value pairs. These parameters are intended for integration specific use only duriing development and testing. These parameters must not be relied upon for production operation.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MessagingRecords">
      <xsd:sequence>
         <xsd:element name="ServiceRequestor" type="MessagingSystemRecord" minOccurs="0"/>
         <xsd:element name="RequestProxies" type="MessagingSystemRecord" minOccurs="0" maxOccurs="100"/>
         <xsd:element name="ServiceProvider" type="MessagingSystemRecord" minOccurs="0"/>
         <xsd:element name="ResponseProxies" type="MessagingSystemRecord" minOccurs="0" maxOccurs="100"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MessagingSystemRecord">
      <xsd:annotation>
         <xsd:documentation>Text field used for intermediaries and proxies to record brief messages about the processes. Attributes record date-time and system identification information.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="StringLength0to128">
            <xsd:attribute name="StartTimeStamp" type="xsd:dateTime" use="required">
               <xsd:annotation>
                  <xsd:documentation>When the system stated processing the message.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTimeStamp" type="xsd:dateTime" use="required">
               <xsd:annotation>
                  <xsd:documentation>When the system completed processing the message. Format is a sequence of characters of the form: '-'? yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)?; for example, 2002-10-10T12:00:00+05:00. </xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemID" type="StringLength0to128" use="required">
               <xsd:annotation>
                  <xsd:documentation>Unique identifier for the processing system.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemName" type="StringLength0to128" use="required">
               <xsd:annotation>
                  <xsd:documentation>Common name of the processing system.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="Parameters">
      <xsd:annotation>
         <xsd:documentation>Name value pairs of parameters where the contents are the value associated with the name. Parameters are for deployment and operational flexibility and should not be relied upon in service design. Revisions to the service should migrate parameters into the message payload or message subject and action values.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleContent>
         <xsd:extension base="StringLength0to128">
            <xsd:attribute name="Name" type="StringLength0to128"/>
         </xsd:extension>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ResultRecord">
      <xsd:annotation>
         <xsd:documentation>Error type based on OTA 1.8 ErrorRS message. Added two error codes to have distinction between transport and messaging generated errors and errors detected by application logic.</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:group ref="ResultCG"/>
         <xsd:element name="Severity" type="StringLength1to64" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>An optional indicator to reflect the severity of this condition.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ErrorMessage" type="ErrorMessage" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Application specific Error code and Message. A textual description to provide more information about the specific error.

TODO - make into simple content type with code as numeric attribute

TODO - shorten names on TimeStamps</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ShortText" type="StringLength1to64" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>An abbreviated version of the error in textual format.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DocURL" type="xsd:anyURI" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>If present, this attribute refers to an online description of the error that occurred.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Element" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>If present, this attribute may identify an unknown or misspelled tag that caused an error in processing. It is recommended that the Tag attribute use XPath notation to identify the location of a tag in the event that more than one tag of the same name is present in the document. Alternatively, the tag name alone can be used to identify missing data [Type=ReqFieldMissing].</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RecordID" type="StringLength1to64" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>If present, this attribute allows for batch processing and the identification of the record that failed amongst a group of records. This value may contain a concatenation of a unique failed transaction ID with specific record(s) associated with that transaction.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="status" type="_StatusCodes" use="required">
         <xsd:annotation>
            <xsd:documentation>If there is an error element it is assumed that the message was not processed unless the status is complete.



Status is an indication of the processing that was completed on the request message.  An error response may be returned and no action taken on behalf of the request message, or there may be some action taken, or the full action may have been completed.</xsd:documentation>
         </xsd:annotation>
      </xsd:attribute>
   </xsd:complexType>
   <xsd:simpleType name="ApplicationErrorCode.OBSOLETE">
      <xsd:union memberTypes="ApplicationErrorCodes _ErrorCodeUserDefined.OBSOLETE"/>
   </xsd:simpleType>
   <xsd:simpleType name="ApplicationErrorCodes">
      <xsd:annotation>
         <xsd:documentation>Application Errors</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:NMTOKEN">
         <xsd:enumeration value="DataError"/>
         <xsd:enumeration value="NotSupported"/>
         <xsd:enumeration value="SessionFailure"/>
         <xsd:enumeration value="Version"/>
         <xsd:enumeration value="XMLError"/>
         <xsd:enumeration value="Size"/>
         <xsd:enumeration value="Unknown"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ErrorMessage.OBSOLETE">
      <xsd:union memberTypes="_ErrorMessageUserDefined.OBSOLETE _ErrorMessages.OBSOLETE"/>
   </xsd:simpleType>
   <xsd:simpleType name="StringLength0to1023">
      <xsd:annotation>
         <xsd:documentation>Used for Character Strings, length 0 to 255.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="1023"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StringLength0to128">
      <xsd:annotation>
         <xsd:documentation>Used for Character Strings, length 0 to 128.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="128"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StringLength0to4096">
      <xsd:annotation>
         <xsd:documentation>Used for Character Strings, length 0 to 4096.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="4096"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StringLength0to8">
      <xsd:annotation>
         <xsd:documentation>Used for Character Strings, length 0 to 8.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="0"/>
         <xsd:maxLength value="8"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StringLength1to32">
      <xsd:annotation>
         <xsd:documentation>Used for Character Strings, length 1 to 32.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="32"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StringLength1to64">
      <xsd:annotation>
         <xsd:documentation>Used for Character Strings, length 1 to 64.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:minLength value="1"/>
         <xsd:maxLength value="64"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Success">
      <xsd:annotation>
         <xsd:documentation>Standard way to indicate successful processing of an OTA message. Returning an empty element of this type indicates success.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="StringLength0to8"/>
   </xsd:simpleType>
   <xsd:simpleType name="TransportErrorCode.OBSOLETE">
      <xsd:union memberTypes="TransportErrorCodes _ErrorCodeUserDefined.OBSOLETE"/>
   </xsd:simpleType>
   <xsd:simpleType name="TransportErrorCodes">
      <xsd:annotation>
         <xsd:documentation>Error codes for use when the messaging and application systems have not delivered a validly formatted message.



PADIS -

Do you want to use the PADIS values as standard transport errors designators?

Do you want to introduce those below as an enumeration of possible values or do you prefer not to directly bind PADIS codes to SOTA_Error definition?



const int ERROR_TOO_MUCH_DATA             = 721;// too much data

const int ERROR_INVALID_ROUTING           = 724;// Invalid routing

const int ERROR_OVERFLOW                  = 738;// overflow

const int ERROR_TIME_OUT                  = 900;// inactivity time out value exceeded

const int ERROR_COMMUNICATION_UNAVAILABLE = 901;// communication line unavailable (from bridge to router...)

const int ERROR_FORMAT_DATA               = 914;// Invalid format/data

const int ERROR_NO_ACTION                 = 915;// No action - processing host cannot support function

const int ERROR_DEFAULT                   = 999;// Not Edifact Standard.



TODO -

1) use numbers and associate words from OTA and PADIS

   - redefine 999

2) shorten application error list

3) add application specific code from ANY ##Other namespace</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:NMTOKEN">
         <xsd:enumeration value="RoutingError"/>
         <xsd:enumeration value="Version"/>
         <xsd:enumeration value="XMLError"/>
         <xsd:enumeration value="Size"/>
         <xsd:enumeration value="Unknown"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="_ErrorCodeUserDefined.OBSOLETE">
      <xsd:annotation>
         <xsd:documentation>This is intended to be used when the ErrorReason enumeration list does not meet your needs.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="StringLength1to32"/>
   </xsd:simpleType>
   <xsd:simpleType name="_ErrorMessageUserDefined.OBSOLETE">
      <xsd:annotation>
         <xsd:documentation>This is intended to be used when the above enumeration list does not meet your needs.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="_ErrorMessages.OBSOLETE">
      <xsd:annotation>
         <xsd:documentation>version 3 - made the list of error messages obsolete. Error messages will be free text created by the application or system that detected the error.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="StringLength1to64">
         <xsd:enumeration value="OTA version not supported"/>
         <xsd:enumeration value="Session has expired"/>
         <xsd:enumeration value="Session already closed"/>
         <xsd:enumeration value="Parameter not supported"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="_StatusCodes">
      <xsd:restriction base="StringLength0to128">
         <xsd:enumeration value="NotProcessed"/>
         <xsd:enumeration value="Complete"/>
         <xsd:enumeration value="Incomplete"/>
         <xsd:enumeration value="Unknown"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:group name="ResultCG">
      <xsd:annotation>
         <xsd:documentation>The results are one of:

Success - transaction processed successfully.

Application error - the message was xml valid but the application did not process it correctly. Standard list intended for use by messaging systems.

Transport error - the message was not delivered or was detected to be invalid. Standard list intended for use by messaging systems.

Note: Error message may but should not exist even if Success is indicated. </xsd:documentation>
      </xsd:annotation>
      <xsd:choice>
         <xsd:element name="Success" type="Success"/>
         <xsd:element name="ApplicationError" type="ApplicationErrorCodes">
            <xsd:annotation>
               <xsd:documentation>The ErrorCode attribute MUST be present and is defined as free-text with a list of recommended enumerated values, to indicate the application error type. Application errors are errors detected by the service provider when processing a request message that conformed to the service interface specifications.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TransportError" type="TransportErrorCodes">
            <xsd:annotation>
               <xsd:documentation>Transport errors are errors detected by the systems transporting messages to the provider or consumer services.Transport errors include system availability and capacity problems and message detected to not conform the interface schemas.



</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:choice>
   </xsd:group>
</xsd:schema>
